<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="do-I-need-access" class="help-section-title">
            <h2 class="govuk-heading-l">
                Do I need access to services to use DfE Sign-in?
            </h2>
            <p class="govuk-body">
                No. You only need access to an organisation to use DfE Sign-in.
            </p>
            <p class="govuk-body">
                That means you can, if given approver status, manage users at your organisation without having services on your account.
            </p>
            <p class="govuk-body">
                However, if you are an end user, you won't be able to do much more than update your details. 
            </p>
            <p class="govuk-body">
                <a class="govuk-link-bold" href="/approvers/what-is-approver">More about approvers</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link-bold" href="/end-users/what-is-end-user">More about end users</a>
            </p>
        </div>

        <!-- help page content -->
        <h3 id="having-trouble-adding" class="govuk-heading-m">I’m having trouble adding a service to my account</h3>
        <p class="govuk-body">
            If you’re an end user (a standard user with no special permissions), please see our 
            <a class="govuk-link-bold" href="/services/request-access">guide to requesting a service</a>.
        </p>
        <p class="govuk-body">
            If you’re an approver (a user able to manage others), please see our 
            <a class="govuk-link-bold" href="/services/how-to-add">guide to adding a service to your account</a>.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/organisations/organisation-access-meaning">What does ‘organisation access’ mean?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I can’t find the service I’m looking for. What should I do?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
