<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">

        <!-- help page content -->
        
        <h3 class="govuk-heading-l">I’m having trouble with a service, what can I do?</h3>
        <p class="govuk-body">
            Here are some common service-related issues, along with guidance for what you can do.
        </p>

        <h3 class="govuk-heading-m">I can’t use a service that appears on my service dashboard </h3>
        <p class="govuk-body">
            Your service dashboard is the page you see when you select 'services' from the top navigation bar.
        </p>
        <p class="govuk-body">
            If you’ve been given permission to use a service, and that service appears on your services dashboard,
            but you get an error when attempting to access that service, then the service is most likely unavailable at that time.
        </p>
        <p class="govuk-body">
            Services usually become unavailable due to a fault or for maintenance.
            Most of the time they will be back online in a few hours, so try again later.
        </p>

        <h3 class="govuk-heading-m">A service is hard or confusing to use</h3>
        <p class="govuk-body">
            If you’re having trouble using a service due to how that service has been built, we recommend letting us know.
            We can then pass your comments over to the team responsible for that service.
        </p>
        <p class="govuk-body">
            Use our <a class="govuk-link-bold" href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_4Vkmdi66haOECup">feedback form</a>.
        </p>
        <p class="govuk-body">
            Make sure you tell us what service you’re having trouble with so we can forward your comment to the correct team.
        </p>

        <h3 class="govuk-heading-m">I’m having trouble adding a service to my account</h3>
        <p class="govuk-body">
            If you’re an end user (a standard user with no special permissions), please see our 
            <a class="govuk-link-bold" href="/services/request-access">guide to requesting a service</a>.
        </p>
        <p class="govuk-body">
            If you’re an approver (a user able to manage others), please see our 
            <a class="govuk-link-bold" href="/services/how-to-add">guide to adding a service to your account</a>.
        </p>

        <h3 class="govuk-heading-l">I need specific help with an aspect of a service</h3>
        <p class="govuk-body">
            As DfE Sign-in only hosts the services, and doesn’t manage them, our help team will be unable to assist 
            with issues directly related to the services themselves.
        </p>
        <p class="govuk-body">
            We recommend that you contact the help team of the service you are having trouble with. You can usually 
            find the contact details for their help team within the service itself.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/services/request-access">How do I request access to a service?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/profile/change-email">Do I need a separate email address for each organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
