<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="request-access" class="help-section-title">
            <h2 class="govuk-heading-l">
                How do I request access to a service or sub-service?
            </h2>
            <p class="govuk-body">
                As an end user, you must request access to a service so you can use that service on your Dfe Sign-in account.
            </p>
            <p class="govuk-body">
                To request access to a service: or sub-services:
            </p>
            <ol class="govuk-list govuk-list--number">
                <li>Go to 'services'.</li>
                <li>Select 'request access to a service'.</li>
                <li>Select the service you'd like to access and click 'continue'.</li>
                <li>Select the sub-services you'd like to access (if applicable).</li>
                <li>Review the request details before sending your request.</li>
                <li>Click 'request service'.</li>
                <li>Your request will be sent to an approver, who will either approve or reject your request.</li>
            </ol>

            <h2 class="govuk-heading-m">
                How do I change my sub-service access?
            </h2>
            <p class="govuk-body">
                If you want to change your sub-service access, you can request to:
            </p><ul class="govuk-list govuk-list--bullet"><li>add a sub-service</li><li>remove a sub-service</li><li>add and remove sub-services</li></ul>
            
            <p class="govuk-body">
                To request a change to your sub-service access:
            </p>
            <ol class="govuk-list govuk-list--number">
                <li>Click 'view and edit services on my account'.</li>
                <li>Select the service the sub-service belongs to and click 'continue'.</li>
                <li>Select or deselect the sub-services that you want to add or remove and click 'continue'.</li>
                <li>Review the request details before sending your request.</li>
                <li>Click 'request sub-service changes'.</li>
                <li>A notification banner will confirm you have requested changes to sub-service access.</li>
                <li>Your request will be sent to an approver, who will either approve or reject your request.</li>
            </ol>
            <p class="govuk-body">
                If you deselect a role that you currently have access to and this request is approved, you will lose access to the sub-service.
            </p>

        </div>

        <!-- help page content -->
        <h3 id="how-long-to-approve" class="govuk-heading-m">How long will it take my request to be approved?</h3>
        <p class="govuk-body">
            This will depend on your approver. We would expect a request to be approved or rejected within 5 days of it being raised.
        </p>
        <p class="govuk-body">
            If you are having trouble with an approver not responding to your requests, please <a class="govuk-link-bold"
                href="/contact-us">contact us</a>.
        </p>

        <h3 id="who-receives-request" class="govuk-heading-m">Who is my request sent to?</h3>
        <p class="govuk-body">
            Your request is sent to all approvers at the relevant organisation.
        </p>
   
        <p class="govuk-body">
            An approver is someone with administration rights, responsible for;
            <ul class="govuk-list govuk-list--bullet"><li>managing users</li><li>dealing with requests</li></ul>
        </p>
        <p class="govuk-body">
            The number of approvers at an organisation will vary. You can see how many approvers your organisation has
            under 'organisations' in the navigation.
        </p>
        <p class="govuk-body">
            Your request is not sent to the Department for Education.
        </p>
        <h3 id="chase-up-outstanding-request" class="govuk-heading-m">Can I chase up an outstanding request?</h3>
        <p class="govuk-body">
            Most requests will be approved or rejected within 5 days of being raised.
        </p>
        <p class="govuk-body">
            If you have waited 5 days or longer and you still haven't had a response to your request.
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'organisations'.</li>
            <li>Find the email address of an approver at the relevant organisation.</li>
            <li>Send a chaser email.</li>    
        </ol>
        <p class="govuk-body">
            Alternatively, you can <a class="govuk-link-bold" href="/contact-us">contact us</a>.
        </p>

        <p class="govuk-body end-of-section">
            Updated June 2023
        </p>

        <hr class="custom-section-break">

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li> 
                    <a href="/manage-users/how-to-manage-users" class="govuk-link-bold">
                        How do I manage users as an approver? 
                    </a>
                </li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li> <a href="/requests/can-end-user-request-service" class="govuk-link-bold">
                    Can end users request access to services? 
                </a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>