<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title -->
        <div id="services-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Help: Services
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Common questions related to services.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li id="having-trouble">
                <h3 class="govuk-heading-m">
                    <a href="/services/having-trouble" class="govuk-link">
                        I'm having trouble with a service, what can I do?
                    </a>
                </h3>
                <p class="govuk-body">
                    Learn about common service-related issues and what to do when a service is unavailable.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="request-access">
                <h3 class="govuk-heading-m">
                    <a href="/services/request-access" class="govuk-link">
                        How do I request access to a service or a sub-service?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to request and change service or sub-service access as an end uers.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="do-I-need-access">
                <h3 class="govuk-heading-m">
                    <a href="/services/do-I-need-access" class="govuk-link">
                        Do I need access to services to use DfE Sign-in?
                    </a>
                </h3>
                <p class="govuk-body">
                    Understand what access you need to use DFE Sign-in as an approver and an end user.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="how-to-add">
                <h3 class="govuk-heading-m">
                    <a href="/services/how-to-add" class="govuk-link">
                        How do I add a service or sub-service to my account?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to add a service or a sub-service as an approver.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">
            
            <li id="how-to-add">
                <h3 class="govuk-heading-m">
                    <a href="/manage-users/change-sub-service-to-user" class="govuk-link">
                        how do I change sub-service access to an end users account?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to add or remove a sub-service on an end's account.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Most popular help topics
            </h2>
            <ul class="govuk-list">
                <li> 
                    <a href="/manage-users/how-to-manage-users" class="govuk-link-bold">
                        How do I manage users as an approver? 
                    </a>
                </li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li> <a href="/requests/can-end-user-request-service" class="govuk-link-bold">
                    Can end users request access to services? 
                </a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
