<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li id="services">
                <h3 class="govuk-heading-m">
                    <a href="/error/<%= locals.serviceId%>/page-coming-soon" class="govuk-link">
                        About DfE Manage console
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out what you can do in the DfE Manage Console application.
                </p>
                <p class="govuk-body">
                    Updated September 2023
                </p>
                <hr class="custom-section-break">
            </li>

            <li id="organisations">
                <h3 class="govuk-heading-m">
                    <a href="/error/<%= locals.serviceId%>/page-coming-soon" class="govuk-link">
                        Manage users
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to manage those who use your service and invite new users.
                </p>
                <p class="govuk-body">
                    Updated September 2023
                </p>
                <hr class="custom-section-break">
            </li>


            <li id="requests">
                <h3 class="govuk-heading-m">
                    <a href="/error/<%= locals.serviceId%>/page-coming-soon" class="govuk-link">
                        Manage organisations
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to search and view organisation details.
                </p>
                <p class="govuk-body">
                    Updated September 2023
                </p>
                <hr class="custom-section-break">
            </li>


            <li id="approvers">
                <h3 class="govuk-heading-m">
                    <a href="<%=locals.serviceId%>/how-to-edit-service-config" class="govuk-link">
                        Edit service configuration
                    </a>
                </h3> 
                <p class="govuk-body">
                    Find out how to view and edit your service configuration.
                </p>
                <p class="govuk-body">
                    Updated September 2023
                </p>
                <hr class="custom-section-break">
            </li>
        </ul>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="https://dfe.service-now.com.mcas.ms/serviceportal?id=sc_cat_item&sys_id=0c00c1afdb6bc8109402e1aa4b961937&sys_id=0c00c1afdb6bc8109402e1aa4b961937&sysparm_category=2f6e34afdb6bc8109402e1aa4b9619aa%20https:%2F%2Fdfe.service-now.com.mcas.ms%2Fserviceportal%3Fid%3Dsc_cat_item&sysparm_category=2f6e34afdb6bc8109402e1aa4b9619aa">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
