.npmrc


registry=https://dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/ 
                        
always-auth=true

; begin auth token
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:username=dfe-ssp
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:_password=ejNtamNubGw2YmVhc2Fmbnkyc21hMmF1amJ5bnQzbGdmY2tvbXdmZ3d4bXo2Z3htcWhkcQ==
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:email=Lenin.AGEER@education.gov.uk
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:username=dfe-ssp
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:_password=ejNtamNubGw2YmVhc2Fmbnkyc21hMmF1amJ5bnQzbGdmY2tvbXdmZ3d4bXo2Z3htcWhkcQ==
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:email=Lenin.AGEER@education.gov.uk
; end auth token


registry=https://sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/ 
                        
always-auth=true
; begin auth token
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:_password=bXBid2RxNXN0a2huMmd2bmpwaHJwNGlxejR3bWxrbDZ1Mmg1Mm9lNG1sY3NudTdrY2d3YQ==
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:email=Lenin.AGEER@education.gov.uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:_password=bXBid2RxNXN0a2huMmd2bmpwaHJwNGlxejR3bWxrbDZ1Mmg1Mm9lNG1sY3NudTdrY2d3YQ==
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:email=Lenin.AGEER@education.gov.uk
; end auth token
