<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title -->
        <div id="approvers-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Help: Approvers
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Here are some common questions related to approvers.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li id="what-is-approver">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/approvers/what-is-approver" class="govuk-link">
                        What is an approver? 
                    </a>
                </h3>
                <p class="govuk-body">
                    Approvers are tasked with several responsibilities relating to your organisation, including providing access to services.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated October 2021
                </p>
            </li>
            <li id="make-someone-approver">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/approvers/make-someone-approver" class="govuk-link">
                        How do I make someone an approver? 
                    </a>
                </h3>
                <p class="govuk-body">
                    There are two main ways to make someone an approver at your organisation.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated October 2021
                </p>
            </li>
            <li id="how-to-approve">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/requests/how-to-approve" class="govuk-link">
                        How do I approve a request?
                    </a>
                </h3>
                <p class="govuk-body">
                    Approving service and organisation access requests is a big part of managing users. Find out how with our step-by-step guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated October 2021
                </p>
            </li>
            
            <li id="how-to-manage-users">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/manage-users/how-to-manage-users" class="govuk-link">
                        How do I manage users as an approver? 
                    </a>
                </h3>
                <p class="govuk-body">
                    By using the ‘Manage users’ option in the navigation bar, you can perform several actions relating to the users at your organisation.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated October 2021
                </p>
            </li>
            
            <li id="end-user-request-service">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/requests/can-end-user-request-service" class="govuk-link">
                        Can end users request access to services? 
                    </a>
                </h3>
                <p class="govuk-body">
                    Thanks to recent changes, end users can now request access to services without having to manually email approvers.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated October 2021
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                 Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li><a class="govuk-link-bold" href="/services/request-access">How do I request access to a service?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/organisations/organisation-access-meaning">What does organisation access mean?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
