<span class="js-back-link"></span>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help dashboard title -->
        <div id="dashboard-title" class="govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">
                Help: Approvers
            </h1>
            <p class="govuk-body govuk-!-margin-right-6">
                Here are some common questions related to organisations.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        What is an approver? 
                    </a>
                </h3>
                <p class="govuk-body">
                    Approvers are tasked with several responsibilities relating to your organisation, including providing access to services. Learn more here.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        How do I make someone an approver? 
                    </a>
                </h3>
                <p class="govuk-body">
                    There are two main ways to make someone an approver at your organisation. Learn more here.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        How do I approve a request?
                    </a>
                </h3>
                <p class="govuk-body">
                    Approving requests is a big part of managing your users. Find out how to do it with our step-by-step guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        How do I manage users as an approver? 
                    </a>
                </h3>
                <p class="govuk-body">
                    By using the ‘Manage users’ option in the navigation bar, you can perform several actions relating to the users at your organisation.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">
                Most popular help topics
            </h1>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">How do I approve a request?</a></li>
                <li><a class="govuk-link" href="#">What is an approver?</a></li>
                <li><a class="govuk-link" href="#">How do I request access to a service?</a></li>
                <li><a class="govuk-link" href="#">How do I add a service to my account?</a></li>
                <li><a class="govuk-link" href="#">Do I need a separate email address for each organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h2 class="govuk-heading-s">
                        <a class="govuk-link" href="#">Contact DfE Sign-in</a>
                    </h2>
                </li>
            </ul>
        </aside>
    </div>

</div>
