<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="make-someone-approver" class="help-section-title">
            <h2 class="govuk-heading-l">
                How do I make someone an approver?
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                There are two main ways to make someone an approver at your organisation. But in order to do either, you must 
                first be an approver at that organisation yourself.
            </p>
            <p class="govuk-body govuk-!-margin-right-6">
                If you are an approver, here are your options.
            </p>
        </div>

        <!-- help page content -->
        <h3 id="give-user-approver-status" class="govuk-heading-m">Give an existing user the approver status</h3>
        <p class="govuk-body">
            If the person you are attempting to make an approver is already registered with your organisation as an end user:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'manage users'.</li>
            <li>Find the user you're looking for in the list and select them.</li>
            <li>On their 'user details' page, select 'make approver' from the actions list.</li>
            <li>Select 'continue' on the confirmation screen to complete your task.</li>
        </ol>

        <h3 id="create-new-approver" class="govuk-heading-m">Create a brand new approver</h3>
        <p class="govuk-body">
            You can do this on the manage users page by following the ‘invite user’ option under related actions.
            <a class="govuk-link-bold" href="/manage-users/how-to-manage-users">Learn more about inviting a user</a>.
        </p>

        <h3 id="revoke-approver-status" class="govuk-heading-m">Can I revoke the approver status from a user? </h3>
        <p class="govuk-body">
            You can. Simply navigate to the details of that user within the manage users section, and select 
            ‘remove approver access’.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/end-users/what-is-end-user">What is an end user?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
