<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="what-is-approver" class="help-section-title">
            <h2 class="govuk-heading-l">
                What is an approver?
            </h2>
            <p class="govuk-body">
                An approver is someone with the highest permission level within DfE Sign-in. 
                They are responsible for several key actions, including:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>approving or rejecting requests to join your organisation</li>
                <li>giving access to services and forms</li>
                <li>managing the permission levels of users at your organisation</li>
                <li>maintaining security over who can and cannot access certain information around your organisation</li>
            </ul>
        </div>

        <!-- help page content -->
        <h3 id="become-approver" class="govuk-heading-m">How do I become an approver? </h3>
        <p class="govuk-body">
            Changing your account to become an approver is something that can only be done by senior members of your 
            organisation who also hold approver status. They will be responsible for this decision.
        </p>
        <p class="govuk-body">
            One exception is if your organisation does not have an approver. Please contact us using the contact form 
            under 'related actions' if you believe this to be the case.
        </p>

        <h3 id="can-do-as-approver" class="govuk-heading-m">What can I do as an approver?</h3>
        <p class="govuk-body">
            For each organisation with which you hold approver status, you will be able to do several tasks:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>see the details of users registered with that organisation</li>
            <li>add services to your own account</li>
            <li>approve or reject requests from users attempting to access your organisation</li>
            <li>invite new users to your organisation</li>
            <li>add services to users at your organisation</li>
        </ul>

        <p class="govuk-body end-of-section">
            Updated October 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/end-users/what-is-end-user">What is an end user?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/manage-users/how-to-manage-users">How do I manage users as an approver?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
