<div id="error-content" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page Coming Soon</h1>
        <p class="govuk-body">Please be patient with us the page is under construction</p>
        <p class="govuk-body">Once the page has be vetted and validated and ready for release,</p>
        <p class="govuk-body">We will then pick the next available release date, you can <a class="govuk-link" href="https://help.signin.education.gov.uk/contact">contact the helpdesk</a> to request a delivery date thank you for you time.</p>
    </div>
</div>