<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">

        <!-- help page content -->
        
        <h3 class="govuk-heading-l">What does ‘organisation access’ mean?</h3>
        <p class="govuk-body">
            Organisation access, when given to a user, simply adds them to the list of users registered under that organisation.
        </p>
        <p class="govuk-body">
            It does not give them access to any services or any sensitive data.
        </p>
        <p class="govuk-body">
            Services must be added to the user manually through the ‘manage users’ area. You need to be an approver to do this.
        </p>
        <p class="govuk-body">
            <a class="govuk-link-bold" href="/manage-users/how-to-manage-users">Learn about adding services to a user</a>
        </p>

        <h3 class="govuk-heading-m">What should I should I do if someone requests access to my organisation?</h3>
        <p class="govuk-body">
            As an approver, you can approve or reject their request.
        </p>
        <p class="govuk-body">
            You can do this in the ‘requests’ section of DfE Sign-in.
        </p>

        <p class="govuk-body">
            <a class="govuk-link-bold" href="/requests/how-to-approve">How to approve a request: step-by-step</a>
        </p>
        <p class="govuk-body">
            <a class="govuk-link-bold" href="/requests/how-to-reject">How to reject a request: step-by-step</a>
        </p>

        <h3 class="govuk-heading-m">If I give someone access to my organisation, what will they get?</h3>
        <p class="govuk-body">
            Not much. They will be added to the list of users at your organisation, but will be unable to do anything until 
            you give them access to services.
        </p>
        <p class="govuk-body">
            They will not be able to see any sensitive data about your organisation, or about those within your organisation 
            (such as pupils).
        </p>

        <h3 class="govuk-heading-m">What happens if I reject a request for organisation access?</h3>
        <p class="govuk-body">
            What happens if I reject a request for organisation access? 
        </p>
        <p class="govuk-body">
            You have the option to write a message to the user explaining why you rejected their request.
        </p>
        <p class="govuk-body">
            The user will receive an email informing them of their rejected request.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/requests/access-to-services">How do I request access to a service?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
