<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="make-someone-approver" class="help-section-title">
            <h2 class="govuk-heading-l">
                How to add a sub-service to a user’s account
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                    As an approver, you can give end users access to a sub-service by adding it to their account. A sub-service is also
                    known as a role or a form.
            </p>
        </div>

        <!-- help page content -->
        <p class="govuk-body">
            Here's how to add a sub-service to a user’s account:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>In DfE Sign-in click on ‘Manage users’ at the top of the page</li>            
            <li>Enter the name of the user whose permissions you want to change into the search box</li>            
            <li>Click on their name</li>            
            <li>Click the ‘Edit services’ link</li>            
            <li>Select the service you want to amend and then click continue</li>            
            <li>Select the sub-service and click continue</li>            
            <li>Review the amended service for the user and click ‘Approve service’</li>            
            <li>You will then see a banner confirming you have amended the the service</li>
        </ol>

        <p class="govuk-body end-of-section">
            Updated September 2022
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/manage-users/how-to-manage-users">How do I manage users as an approver?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li><a class="govuk-link-bold" href="/requests/can-end-user-request-service">Can end users request access to services?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
