<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="make-someone-approver" class="help-section-title">
            <h2 class="govuk-heading-l">
                How to change sub-service access on an end user’s account
            </h2>
        </div>

        <!-- help page content -->
        <p class="govuk-body">
            A sub-service is also known as a role or a form.
        </p>
        <p class="govuk-body">
            As an approver, you can change an end user’s sub-service access by adding or removing the sub-service from their account.
        </p>
        <p class="govuk-body">
            To add or remove sub-service access from an end user’s account:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Click on ‘manage users’.</li>            
            <li>Enter the name of the user in the search box whose access you want to change.</li>            
            <li>Click on their name.</li>            
            <li>Click ‘edit services’.</li>            
            <li>Select the service the sub-service belongs to and click ‘continue’.</li>            
            <li>Select or deselect the sub-services that you want to add or remove and click ‘continue’.</li>            
            <li>Review the sub-service changes for the end user and click ‘approve service’.</li>            
            <li>A notification banner will confirm you have changed sub-service access for the end user.</li>
        </ol>
        <p class="govuk-body">
            An end user can also request changes to their sub-service access, which an approver must either approve or reject.
        </p>
        <p class="govuk-body">
            Learn more about how to <a class="govuk-link" href="/requests/how-to-approve">approve a sub-service access request</a> and <a class="govuk-link" href="/requests/how-to-reject">how to reject a sub-service access request</a>.
        </p>
        <p class="govuk-body end-of-section">
            Updated June 2023
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li> 
                    <a href="/manage-users/how-to-manage-users" class="govuk-link-bold">
                        How do I manage users as an approver? 
                    </a>
                </li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li> <a href="/requests/can-end-user-request-service" class="govuk-link-bold">
                    Can end users request access to services? 
                </a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
