<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">

        <!-- help page content -->
        
        <h3 class="govuk-heading-l">How do I manage users as an approver?</h3>
        <p class="govuk-body">
            As an approver, you can manage the users at your organisation by selecting ‘manage users’ from the navigation bar 
            at the top of the screen.
        </p>
        <p class="govuk-body">
            On the manage users page, you can perform several actions.
        </p>

        <h3 class="govuk-heading-m">How to see the details of users</h3>
        <p class="govuk-body">
            Within the user list you’ll be able to see a small amount of information related to each user. This includes their 
            email address and last log-in date.
        </p>
        <p class="govuk-body">
            You can see more details by selecting their name from the list. This will take you to their dedicated ‘user details’ page.
        </p>

        <h3 class="govuk-heading-l">How to give an existing user the approver status</h3>
        <p class="govuk-body">
            If you want to make someone an approver, and they're already a part of your organisation, follow these steps:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'manage users'.</li>
            <li>Find the user you're looking for in the list and select them.</li>
            <li>On their 'user details' page, select 'make approver' from the actions list.</li>
            <li>Select 'continue' on the confirmation screen to complete your task.</li>
        </ol>

        <h3 class="govuk-heading-l">How to invite a user to join DfE Sign-in</h3>
        <p class="govuk-body">
            If you need to add someone to your list of users, so they can use services or manage users within DfE Sign-in, 
            follow these steps:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'manage users'.</li>
            <li>Choose 'invite user' from the related actions list.</li>
            <li>Fill in their details and add services to their account (if required).</li>
            <li>The user will get an email asking them to complete their account set-up.</li>
        </ol>

        <h3 class="govuk-heading-l">How to remove a user from your organisation</h3>
        <p class="govuk-body">
            If you want to remove a user's account, so they can no longer access your organisation through DfE Sign-in, 
            follow these steps:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'manage users'.</li>
            <li>Find the user you're looking for in the list and select them.</li>
            <li>On their 'user details' page, select 'remove from organisation' from the actions list.</li>
            <li>Select 'continue' on the confirmation screen to complete your task.</li>
        </ol>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="What is an end user">What is an end user?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve">How do I approve a request to access my organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
