<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title -->
        <div id="manage-users-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Help: Manage users
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Here are some common questions related to managing users.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li id="how-to-manage-users">
                <h3 class="govuk-heading-m">
                    <a href="/manage-users/how-to-manage-users" class="govuk-link">
                        How do I manage users as an approver?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out everything you need to know to manage the users associated with your organisation.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="how-to-invite-users">
                <h3 class="govuk-heading-m">
                    <a href="/manage-users/how-to-manage-users#invite-user" class="govuk-link">
                        How to invite a user to join DfE Sign-in
                    </a>
                </h3>
                <p class="govuk-body">
                    Need a step-by-step guide to inviting users to join DfE Sign-in as part of your organisation? Find it here.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="how-to-approve">
                <h3 class="govuk-heading-m">
                    <a href="/requests/how-to-approve" class="govuk-link">
                        How do I approve a request?
                    </a>
                </h3>
                <p class="govuk-body">
                    Approving requests is a big part of managing your users. Find out how to do it with our step-by-step guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="make-someone-approver">
                <h3 class="govuk-heading-m">
                    <a href="/approvers/make-someone-approver" class="govuk-link">
                        How do I make someone an approver?
                    </a>
                </h3>
                <p class="govuk-body">
                    There are two main ways to make someone an approver at your organisation. Find out more here.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Most popular help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/requests/how-to-approve">How do I approve a request?</a></li>
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="/services/request-access">How do I request access to a service?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/profile/change-email#separate-email">Do I need a separate email address for each organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
