<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title -->
        <div id="end-users-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Help: End users
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Common questions related to end users.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li id="what-is-end-user">
                <h3 class="govuk-heading-m">
                    <a href="/end-users/what-is-end-user" class="govuk-link">
                        What is an end user?
                    </a>
                </h3>
                <p class="govuk-body">
                    Learn about the actions an end user can perform with this permission level.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="request-access">
                <h3 class="govuk-heading-m">
                    <a href="/services/request-access" class="govuk-link">
                        How do I request access to a service or sub-service?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to request and change service or sub-service access to as an end user.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="organisation-access-meaning">
                <h3 class="govuk-heading-m">
                    <a href="/organisations/organisation-access-meaning" class="govuk-link">
                        What does ‘organisation access’ mean?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out what organisations access means when added to your account.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="add-multiple-organisations">
                <h3 class="govuk-heading-m">
                    <a href="/organisations/add-multiple-organisations" class="govuk-link">
                        Can I add multiple organisations to my account?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to add additional organisations to your account.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="setup-account">
                <h3 class="govuk-heading-m">
                    <a href="/profile/setup-account" class="govuk-link">
                        How do I set up my account to use DfE Sign-in?
                    </a>
                </h3>
                <p class="govuk-body">
                    Learn about the 3-stage process and how to complete your account set up.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

            <li id="having-trouble">
                <h3 class="govuk-heading-m">
                    <a href="/services/having-trouble" class="govuk-link">
                        I’m having trouble with a service, what can I do?
                    </a>
                </h3>
                <p class="govuk-body">
                    Learn about common service-related issues and what to do when a service is unavailable.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            <hr class="custom-section-break">

        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Most popular help topics
            </h2>
            <ul class="govuk-list">
                <li> 
                    <a href="/manage-users/how-to-manage-users" class="govuk-link-bold">
                        How do I manage users as an approver? 
                    </a>
                </li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li> <a href="/requests/can-end-user-request-service" class="govuk-link-bold">
                    Can end users request access to services? 
                </a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
