<span class="js-back-link"></span>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">

        <!-- help page content -->
        
        <h3 class="govuk-heading-l">What is an end user?</h3>
        <p class="govuk-body">
            An end user is someone with the standard permission level within DfE Sign-in. They can perform several actions, including:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>request access to an organisation</li>
            <li>request access to a service or form</li>
            <li>manage their account details</li>
            <li>access services to complete tasks related to their job role</li>
        </ul>
        <p class="govuk-body">
            An end user cannot manage other users or add services to their own account without the permission of an approver.
            <a class="govuk-link-bold" href="#">Learn more about approvers</a>.
        </p>

        <h3 class="govuk-heading-m">Can I become an approver?</h3>
        <p class="govuk-body">
            Changing your account to become an approver is something that can only be done by senior members of your organisation who also hold approver status. They will be responsible for this decision.
        </p>
        <p class="govuk-body">
            One exception is if your organisation does not have an approver. Please contact us using the contact form under 'related actions' if you believe this to be the case.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="#">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="#">I can’t find the service I’m looking for. What should I do?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="#">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
