<span class="js-back-link"></span>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">

        <!-- help page content -->
        
        <h3 class="govuk-heading-l">How do I request access to a service?</h3>
        <p class="govuk-body">
            As an end user, you must request access to a service in order to use that service through your account.
        </p>
        <p class="govuk-body">
            Here's how to request access to a service:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'organisations'.</li>
            <li>Find the details of an approver at your chosen organisation.</li>
            <li>Copy their email address.</li>
            <li>Email the approver stating what services you need.</li>
            <li>Wait until approval has been provided.</li>
        </ol>

        <h3 class="govuk-heading-m">How long will it take my request to be approved?</h3>
        <p class="govuk-body">
            This is dependent upon your approver. However, we would expect a request to be approved (or rejected) within 5 days of it being raised.
        </p>
        <p class="govuk-body">
            If you are having trouble with an approver not dealing with your requests, please contact us using the link under related actions.
        </p>

        <h3 class="govuk-heading-m">Who receives my request? </h3>
        <p class="govuk-body">
            Your request will be received by approvers at the relevant organisation.
        </p>
        <p class="govuk-body">
            It will not be sent to the Department for Education.
        </p>
        <p class="govuk-body">
            An approver is someone with administration rights, responsible for managing users and dealing with requests.
        </p>
        <p class="govuk-body">
            The number of approvers at an organisation will vary. You can see how many approvers your organisation has under 'organisation' in the navigation.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="#">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="#">What does organisation access mean?</a></li>
                <li><a class="govuk-link-bold" href="#">What is an approver?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="#">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
