<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="end-user-request-service" class="help-section-title">
            <h2 class="govuk-heading-l">
                Can end users request access to services?
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Recent changes to DfE Sign-in mean that end users can now request access to services without having to manually email approvers.
            </p>
        </div>

        <!-- help page content -->
        <h3 id="means-for-approver" class="govuk-heading-m">What this means for an approver</h3>
        <p class="govuk-body">
            Previously, an end user would have emailed you for access to a service.
        </p>
        <p class="govuk-body">
            Given that many users didn't know the names of services, as well as other issues, this caused many approvers significant frustration and time lost.
        </p>
        <p class="govuk-body">
            Now, end users will have a link on their dashboard allowing them to pick the services they need. 
        </p>
        <p class="govuk-body">
            They will see descriptions of the services too, which will help them make an informed choice, reducing errors.
        </p>
        <p class="govuk-body">
            Once an end user has requested access to a service, an email will be sent to all approvers at the relevant organisation.
        </p>
        <p class="govuk-body">
            This email will give you the ability to either approve or reject the request.
        </p>

        <h3 id="how-to-approve-service-request" class="govuk-heading-m">How to approve a service access request</h3>
        <ol class="govuk-list govuk-list--number">
            <li>On the 'service requested' email, click the 'approve' button</li>
            <li>Sign in to DfE Sign-in, if needed</li>
            <li>Review the service request</li>
            <li>Approve the request</li>
            <li>The end user will receive an email confirming their approval, and will now be able to access the approved service</li>
        </ol>

        <h3 id="how-to-reject-service-request" class="govuk-heading-m">How to reject a service access request</h3>
        <ol class="govuk-list govuk-list--number">
            <li>On the 'service requested' email, click the 'reject' button</li>
            <li>Sign in to DfE Sign-in, if needed</li>
            <li>Enter a reason for why you've rejected the service access request (optional)</li>
            <li>Confirm the rejection</li>
            <li>The end user will receive an email confirming their rejection; this will include the message you entered into the 'reason for rejection' field</li>
        </ol>

        <h3 id="already-approved-service" class="govuk-heading-m">What if another approver deals with the request first?</h3>
        <p class="govuk-body">
            If another approver at your organisation has already approved the service access request, you will see a 'service already approved' page if you attempt to approve the request.
        </p>

        <h3 id="requested-wrong-service" class="govuk-heading-m">What if an end user has requested the wrong service?</h3>
        <p class="govuk-body">
            In this case you can amend their choice on their behalf.
        </p>
        <p class="govuk-body">
            On the 'service requested' email, click the approve button to see the 'request review' page.
        </p>
        <p class="govuk-body">
            There are links to change both the service and sub-service that the end user has selected. Follow these to make your amendments.
        </p>

        <p class="govuk-body end-of-section">
            Updated August 2021
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/profile/change-email#separate-email">Do I need a separate email address for each organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
