<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="how-to-approve" class="help-section-title">
            <h2 class="govuk-heading-l">
                How do I approve a request
            </h2>
            <p class="govuk-body">
                There are two types of request you may be asked to approve: organisation requests, and service requests.
            </p>
        </div>

        <!-- help page content -->
        <h3 id="how-to-approve-org-request" class="govuk-heading-m">How to approve an organisation request</h3>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'requests' (you can find this under 'manage users').</li>
            <li>Select the request you would like to approve or review.</li>
            <li>Read the request review page carefully.</li>
            <li>If you are confident the request should be approved, select 'approve'.</li>
            <li>The user will receive an email informing them of their approval.</li>
        </ol>

        <h3 id="how-to-approve-service-request" class="govuk-heading-m">How to approve a service access request</h3>
        <ol class="govuk-list govuk-list--number">
            <li>On the 'service requested' email, click the 'approve' button.</li>
            <li>Sign in to DfE Sign-in, if needed.</li>
            <li>Review the service request.</li>
            <li>Approve the request.</li>
            <li>The end user will receive an email confirming their approval, and will now be able to access the approved service.</li>
        </ol>

        <h3 id="check-before-approving" class="govuk-heading-m">What should I check before approving a request?</h3>
        <p class="govuk-body">
            As an approver, it is your responsibility to ensure that the person who raised a request is eligible for the access 
            they’ve requested.
        </p>
        <p class="govuk-body">
            Best practice is to check:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>that the user is who they claim to be</li>
            <li>that the user has a valid reason for their request</li>
            <li>that there are no security concerns around giving the user access</li>
        </ul>

        <p class="govuk-body end-of-section">
            Updated August 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/requests/how-to-reject">How do I reject a request?</a></li>
                <li><a class="govuk-link-bold" href="/organisations/organisation-access-meaning">What does ‘organisation access’ mean?</a></li>
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
