<span class="js-back-link"></span>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">

        <!-- help page content -->
        
        <h3 class="govuk-heading-l">How do I reject a request?</h3>
        <p class="govuk-body">
            To reject a request, follow these steps:
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'requests'.</li>
            <li>Select the request you would like to review.</li>
            <li>Read the request review page carefully.</li>
            <li>If you are confident the request should be rejected, select 'reject'.</li>
            <li>Write a message to explain the reason behind the rejection. This will be seen by the user in an email.</li>
            <li>The user will receive an email informing them about their rejection.</li>
        </ol>

        <h3 class="govuk-heading-m">What happens if I reject a request for organisation access?</h3>
        <p class="govuk-body">
            If you reject an organisation access request the person who raised it will be declined access to your organisation.
        </p>
        <p class="govuk-body">
            You have the option to write a message to the user explaining why you rejected their request.
        </p>
        <p class="govuk-body">
            The user will receive an email informing them of their rejected request.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/requests/how-to-approve">How do I approve a request?</a></li>
                <li><a class="govuk-link-bold" href="/organisations/organisation-access-meaning">What does ‘organisation access’ mean?</a></li>
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="#">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
