<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="how-to-reject" class="help-section-title">
            <h2 class="govuk-heading-l">
                How do I reject a request?
            </h2>
            <p class="govuk-body">
                As an approver, there are 3 types of request you may be asked to reject:
                <ul class="govuk-list govuk-list--bullet"><li>organisation requests</li><li>service requests</li><li>sub-service requests</li></ul>
            </p>
            <p class="govuk-body">
                Rejecting these types of requests is important for maintaining security at your organisation. 
            </p>
        </div>

        <!-- help page content -->
        <h3 id="how-to-reject-org-request" class="govuk-heading-m">How to reject an organisation request</h3>
        <p class="govuk-body">
            To reject an organisation request: 
        </p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to 'requests'.</li>
            <li>Select the request you would like to review.</li>
            <li>Read the request review page carefully.</li>
            <li>If you are confident the request should be rejected, select 'reject'.</li>
            <li>Write a message to explain the reason behind the rejection. This will be seen by the user in an email (optional).</li>
            <li>The user will receive an email informing them about their rejection.</li>
        </ol>

        <h3 id="what-if-I-reject-org" class="govuk-heading-m">What happens if I reject a request for organisation access?</h3>
        <p class="govuk-body">
            If you reject an organisation access request, the person who raised it will be able to access your organisation.
        </p>
        <p class="govuk-body">
            You have the option to write a message to the user explaining why you rejected their request.
        </p>
        <p class="govuk-body">
            The user will receive an email informing them of their rejected request.
        </p>

        <h3 id="how-to-reject-service-request" class="govuk-heading-m">How to reject a service access request:</p>
            <p class="govuk-body">
                To reject a service access request:
            </p>
            <ol class="govuk-list govuk-list--number">
            <li>On the 'service requested' email, click the 'reject' button.</li>
            <li>Sign in to DfE Sign-in, if needed.</li>
            <li>Enter a reason for why you've rejected the service access request (optional).</li>
            <li>Confirm the rejection.</li>
            <li>The end user will receive an email confirming their rejection; this will include the message you entered into the 'reason for rejection' field.</li>
        </ol>

        <h3 id="what-if-I-reject-service" class="govuk-heading-m">What happens if I reject a request for service access?</h3>
        <p class="govuk-body">
            If you reject a service access request, the person who raised it will not be able to access the service they have specifically requested.
        </p>
        <p class="govuk-body">
            However, if your organisation has multiple approvers, another approver's approval may supersede your service rejection.
        </p>

        <h3 id="how-to-reject-sub-service-request" class="govuk-heading-m">How to reject a sub-service access request</h3>
        <p class="govuk-body">To reject a sub-service access request:</p>
        <ol class="govuk-list govuk-list--number">
            <li>On the 'request to change sub-service access' email, click the 'reject' button.</li>
            <li>Review the request details before rejecting the sub-service access request.</li>
            <li>Enter a reason for why you've rejected the service access request (optional).</li>
            <li>Click 'reject request'.</li>
            <li>A notification banner will confirm you have rejected changes to sub-service access for the end user.</li>
            <li>The end user will receive an email confirming their rejection; this will include the message you entered into the 'reason for rejection' field.</li>
        </ol>

        <h3 id="what-if-I-reject-service" class="govuk-heading-m">What happens if I reject a request for service access?</h3>
        <p class="govuk-body">
            If you reject a sub-service access request, the person who raised it will not be able to access the service they have specifically requested.
        </p>
       
        <p class="govuk-body end-of-section">
            Updated June 2023
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li> 
                    <a href="/manage-users/how-to-manage-users" class="govuk-link-bold">
                        How do I manage users as an approver? 
                    </a>
                </li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li> <a href="/requests/can-end-user-request-service" class="govuk-link-bold">
                    Can end users request access to services? 
                </a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
