<span class="js-back-link"></span>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help dashboard title -->
        <div id="dashboard-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Help: Requests
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Here are some common questions related to organisations.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="/requests/access-to-services" class="govuk-link">
                        How do I request access to a service?
                    </a>
                </h3>
                <p class="govuk-body">
                    As an end user, you must request access to a service in order to use that service through your account. Learn more here.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="/requests/how-to-approve" class="govuk-link">
                        How do I approve a request?
                    </a>
                </h3>
                <p class="govuk-body">
                    Approving requests is a big part of managing your users. Find out how to do it with our step-by-step guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="/requests/how-to-reject" class="govuk-link">
                        How do I reject a request?
                    </a>
                </h3>
                <p class="govuk-body">
                    Rejecting requests ensures that only those who should have access to your organisation do so. Find out how to do it with our step-by-step guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        What does ‘organisation access’ mean?
                    </a>
                </h3>
                <p class="govuk-body">
                    Organisation access, when given to a user, simply adds them to the list of users registered under that organisation. Learn more here.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Most popular help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/requests/how-to-approve">How do I approve a request?</a></li>
                <li><a class="govuk-link-bold" href="#">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="#">How do I request access to a service?</a></li>
                <li><a class="govuk-link-bold" href="#">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="#">Do I need a separate email address for each organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="#">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
