<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title -->
        <div id="requests-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Help: Requests
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Common questions related to requests.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li id="request-access">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/services/request-access" class="govuk-link">
                        How do I request access to a service or sub-service?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to request and change service or sub-service access as en end uer.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            
            <li id="how-to-approve">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/requests/how-to-approve" class="govuk-link">
                        How do I approve a request?
                    </a>
                </h3>
                <p class="govuk-body">
                    Learn how to approve organisation, service and sub-service access requests to manage users.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            
            <li id="how-to-reject">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/requests/how-to-reject" class="govuk-link">
                        How do I reject a request?
                    </a>
                </h3>
                <p class="govuk-body">
                    Learn how to reject organistaion, service and sub-service access requests to manage users.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
            </li>
            
            <li id="organisation-access-meaning">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="/organisations/organisation-access-meaning" class="govuk-link">
                        What does ‘organisation access’ mean?
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out what organisation access means when added to your account.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated June 2023
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>

        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                 Related help topics
            </h2>
            <ul class="govuk-list">
                <li> 
                    <a href="/manage-users/how-to-manage-users" class="govuk-link-bold">
                        How do I manage users as an approver? 
                    </a>
                </li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/requests/how-to-approve#how-to-approve-service-request">How do I approve a service access request?</a></li>
                <li><a class="govuk-link-bold" href="/services/having-trouble">I'm having trouble with a service, what can I do?</a></li>
                <li> <a href="/requests/can-end-user-request-service" class="govuk-link-bold">
                    Can end users request access to services? 
                </a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
