<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="help-page-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                How do I change my password?
            </h2>
            <p class="govuk-body">
                If you need to change or update the password associated with your account, follow these steps:
            </p>
            <ol class="govuk-list govuk-list--number">
                <li>Go to 'profile'.</li>
                <li>Select 'change my password' from the related actions.</li>
                <li>Enter your current password.</li>
                <li>Enter a new password and save your changes.</li>
            </ol>
            <p class="govuk-body">
                The next time you sign in, you will need to use this password. Your old password will no longer work.
            </p>
        </div>

        <!-- help page content -->
        <h3 class="govuk-heading-m">What if I can’t remember my password?</h3>
        <p class="govuk-body">
            If you can’t remember your password, and therefore cannot sign in to begin with, you can use the ‘forgotten password’ 
            option on the sign in page.
        </p>
        <p class="govuk-body">
            This will allow you to set a new password by verifying your identity through your email address.
        </p>

        <h3 class="govuk-heading-m">Why does my password have to be at least 12 characters long?</h3>
        <p class="govuk-body">
            This is due to security purposes. Longer passwords are more difficult for machines to guess.
        </p>
        <p class="govuk-body">
            If you'd like to make your password even more secure, we recommend using a combination of three or more unrelated words, 
            along with a special character.
        </p>

        <p class="govuk-body end-of-section">
            Updated April 2021
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/profile/change-email">How do I change the email address on my account?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/organisations/add-multiple-organisations">Do I need another account to manage another organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
