<span class="js-back-link"></span>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help dashboard title -->
        <div id="dashboard-title" class="govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">
                Help: Profile
            </h1>
            <p class="govuk-body govuk-!-margin-right-6">
                Here are some common questions related to organisations.
            </p>
        </div>
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        How do I set up my account to use DfE Sign-in?
                    </a>
                </h3>
                <p class="govuk-body">
                    Setting up your account is a three-stage process. Here’s what you need to do to complete your set up.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        How do I change my password?
                    </a>
                </h3>
                <p class="govuk-body">
                    You can change your password in the 'profile' section of DfE Sign-in. Find out more in our guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        How do I change the email address on my account?
                    </a>
                </h3>
                <p class="govuk-body">
                    If you need to change or update the email address associated with your account, follow our guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

            <li>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link">
                        Can I add multiple organisations to my account?
                    </a>
                </h3>
                <p class="govuk-body">
                    You can. One account is all you need to manage every organisation. Learn more with our guide.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated April 2021
                </p>
            </li>
            <hr class="custom-section-break">

        </ul>

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">
                Most popular help topics
            </h1>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="#">How do I approve a request?</a></li>
                <li><a class="govuk-link-bold" href="#">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="#">How do I request access to a service?</a></li>
                <li><a class="govuk-link-bold" href="#">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="#">Do I need a separate email address for each organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-l">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="#">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
