<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="setup-account" class="help-section-title govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-l">
                How do I ensure my account is up to date and secure?
            </h2>
            <p class="govuk-body">
                Setting up your account is a three-stage process:
            </p>
        </div>

        <!-- help page content -->
        <h3 id="verify-account" class="govuk-heading-m">1. Verifying your account</h3>
        <p class="govuk-body">
            In this step, we will send a verification code to the email address you choose to sign up with. You will then enter the code and choose a secure password for your account.
        </p>
        <p class="govuk-body">
            DfE Sign-in has recently enhanced account security for all users by introducing multi-factor authentication. This will require users to enter a unique verification code each time they sign in.
        </p>
        <p class="govuk-body">
            At present, receiving a code via email is the only authentication method available.
        </p>

        <h3 id="connect-organisation" class="govuk-heading-m">2. Connecting to an organisation</h3>
        <p class="govuk-body">
            To use DfE Sign-in you will need to associate your account with an organisation. You must have an established relationship with the organisation, such as being employed by them. If you are a multi-academy trust user, please use the main organisation to which you have an established relationship.
        </p>
        <p class="govuk-body">
            You will be asked to connect with only one organisation during initial account set-up, others may be added once account set-up is complete.
        </p>
        <div class="dfe-custom-details-component">
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Find out how to connect to an organisation
                    </span>
                </summary>    
                <div class="govuk-details__text" aria-live="polite" role="region" >
                    <ol class="govuk-list govuk-list--number">
                        <li>Go to 'organisations'.</li>
                        <li>Select the button to the right of 'request access to an organisation'.</li>
                        <li>
                            Find your organisation. You can search using the:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>trading name</li>
                                <li>legal name</li>
                                <li>URN</li>
                                <li>UPIN</li>
                                <li>UKPRN</li>
                            </ul>
                        </li> 
                        <li>Select your organisation from the list.</li>
                        <li>
                            Provide a comment explaining why you need access to this organisation (this will be seen by approvers at that organisation) then select 'confirm'.
                        </li>
                    </ol>
                    <p class="govuk-body">
                        Once you’ve made a request to access an organisation, it will be dealt with by approvers at that organisation.
                    </p>
                    <p class="govuk-body">
                        Generally, a request should be responded to within 5 days.
                    </p>
                    <p class="govuk-body">
                        If you cannot find the organisation you’re looking for, contact the <a class="govuk-link" href="/contact-us">DfE Sign-in support team</a>.
                    </p>
                </div>
            </details>
        </div>

        <h3 id="acces-to-services" class="govuk-heading-m">3. Getting access to services</h3>
        <p class="govuk-body">
            Services are areas within DfE Sign-in that allow you to complete a specific task or see certain data, examples include Analyse School Performance, and Publish to the Course Directory.
        </p>
        <p class="govuk-body">
            How you will gain access to a service will depend on the permission levels of your account. Approvers are able to add services, whereas end-users will need to request access.
        </p>

        <p class="govuk-body">
            <a class="govuk-link-bold" href="/services/request-access">Find out how to request access to a service</a>
        </p>
        <p class="govuk-body">
            <a class="govuk-link-bold" href="/services/how-to-add">Find out how to add a service as an approver</a>
        </p>

        <p class="govuk-body end-of-section">
            Updated January 2025
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/approvers/what-is-approver">What is an approver?</a></li>
                <li><a class="govuk-link-bold" href="/services/how-to-add">How do I add a service to my account?</a></li>
                <li><a class="govuk-link-bold" href="/profile/change-email#separate-email">Do I need a separate email address for each organisation?</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
