<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title -->
        <div id="movingToDfESignIn-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Help: Get more information about the move to DfE Sign-in
            </h2>
            <p class="govuk-body">
                Here are some common questions related to move to DfE Sign-in.
            </p>
        </div>
            <hr class="custom-section-break">
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">
            <li id="why-the-change-is-happening">
                <h3 class="govuk-heading-m">Why the change is happening?</h3>
                <p class="govuk-body">
                    You currently sign in to your service with the IDAMS/Pirean sign in system. The DfE will no longer support this system by mid-2024. 
                    DfE Sign-in will replace this. 
                </p>
                <p class="govuk-body">    
                    It is the new way to sign in. You will be given a DfE Sign-in account. 
                    DfE Sign-in enables you to access multiple organisations from one account. The service you use will not change, only the way you sign in.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated October 2023
                </p>
            </li>

            <hr class="custom-section-break">

            <li id="what-will-happen">
                <h3 class="govuk-heading-m">What will happen?</h3>
                <p class="govuk-body">
                    Firstly, you will receive an email explaining that the way you access your service is changing.
                </p>
                <p class="govuk-body">
                    Soon after this, if you already have a DfE Sign-in account, you will receive an email to let you know a new service has been added to your account.
                </p>
                <p class="govuk-body"> 
                    If you do not currently have a DfE Sign-in account, you will receive an email inviting you to set one up. You will verify your email and create a password.
                </p>
                <p class="govuk-body">
                    You will then receive an email confirming a new service has been added to your account.
                </p>
                <p class="govuk-body">    
                    If you are having problems getting emails from DfE Sign-in, check your spam or junk folder.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated September 2022
                </p>
            </li>

            <hr class="custom-section-break">

            <li id="when-the-change-is-happening">
                <h3 class="govuk-heading-m">When the change is happening?</h3>
                <p class="govuk-body">
                    We are gradually moving services from the IDAMS/Pirean sign in system to DfE Sign-in. This process will be completed by mid-2024.
                </p> 
                <p class="govuk-body">
                    We will notify you by email when your service is being moved to DfE Sign-in. 
                </p>
                <p class="govuk-body">
                    You should continue to use your current username and password and access the service as you normally would until we notify you.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated October 2023
                </p>
            </li>

            <hr class="custom-section-break">

            <li id="your-permissions-on-DfE-Sign-in">
                <h3 class="govuk-heading-m">Your permissions on DfE Sign-in</h3>
                <p class="govuk-body">
                    We will transfer your existing roles and permissions to DfE Sign-in.
                    As we do this, some of your permissions might change. 
                </p>    
                <p class="govuk-body">
                    You will be able to do all the same things you used to do, however you might also have access to new 'approver' permissions that you did not have before.
                </p>
                <p class="govuk-body">
                    During the migration, if you are currently an approver in DfE Sign-in you may notice an increase in users having approver permission levels because of this.
                </p>    
                <p class="govuk-body">
                    As your DfE Sign-in account gives you access to multiple organisations in one place, you may also see your organisations being added to your account.
                </p>
                <p class="govuk-body font-style-italic">
                    Updated September 2022
                </p>
            </li>

            <hr class="custom-section-break">

            <li id="being-an-approver">
                <h3 class="govuk-heading-m">Being an approver?</h3>
                <p class="govuk-body">
                    An approver is someone with the highest permission level in DfE Sign-in. You might know this as being a Super User.
                    As an approver you will be able to:

                <ul class="govuk-list govuk-list--bullet">
                    <li>approve or reject requests to join your organisation</li>
                    <li>give access to services and forms</li>
                    <li>manage the permission levels of users at your organisation</li>
                </ul>  
                <li>
                    You can find more information about changing user permission levels on the DfE Sign-in ‘Help’ section. 
                    Once your account has been migrated, you will need to use your DfE Sign-in email and password to access this guidance.
                    </p>
                </li>
                <p class="govuk-body font-style-italic">
                    Updated April 2023
                </p>
            <hr class="custom-section-break">

        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Get help
            </h2>
            <p class="govuk-body">
                If you need more information or support, <a class="govuk-link-bold" href="/contact-us">contact us</a>.
            </p>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in</a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>
</div>