<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="edit-service-config" class="help-section-title govuk-!-margin-bottom-2 ">
            <h2 class="govuk-heading-l">
                About DfE Sign-in manage console
            </h2>
            <p class="govuk-body">
                DfE Sign-in manage console is an application for service teams to manage their services.
            </p>
            <p class="govuk-body">
            On DfE Sign-in manage console, you can:
            </p>
            <ol class="govuk-list govuk-list--number">
                <li>view service information</li>
                <li>manage users</li>
                <li>view and search organisations</li>
                <li>edit service configuration</li>
            </ol>
        </div>

        <!-- help page content -->
        <h2 class="govuk-heading-l">
            Access the application
        </h2>
        <p class="govuk-body ">
            To access DfE Sign-in manage console:
        </p>
        <ol class="govuk-list govuk-list--bullet ">
            <li>Sign into your DfE Sign-in account.</li>
            <li>Once signed in, select 'DfE Sign-in manage console' from your list of services.</li>
            <li>Choose which service you would like to manage.</li>
            <li>You will be taken to your selected service's DfE Sign-in manage console dashboard.</li>
        </ol>
        <p class="govuk-body ">
            On the dashboard, you will see the tiles that allow you to support your service's users and view and configure your service.
        </p>
        <p class="govuk-body ">
            To see another service's DfE Sign-in manage console dashboard, click 'Change service' under 'Related actions'.
        </p>
        <h2 class="govuk-heading-l">
            Contact us
        </h2>
        <p class="govuk-body">
            You can <a class="govuk-link" href="/contact-us">contact DfE Sign-in</a> for further support, including how to:
        </p>
        <ol class="govuk-list govuk-list--bullet ">
            <li>change a service title</li>
            <li>change a service description</li>
            <li>add someone to DfE Sign-in manage console</li>
            <li>add or modify a group or role in DfE Sign-in manage console</li>
        </ol>
         
        <p class="govuk-body end-of-section">
            Updated October 2024
        </p>

        <hr class="custom-section-break">


        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Most popular help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/manageConsole/<%= locals.serviceId%>/how-to-manage-users">Manage users</a></li>
                <li><a class="govuk-link-bold" href="/manageConsole/<%= locals.serviceId%>/how-to-view-and-search-organisations">View and search organisations</a></li>
                <li><a class="govuk-link-bold" href="/manageConsole/<%= locals.serviceId%>/how-to-edit-service-config">Edit service configuration</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in </a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
