<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help page title and main content -->
        <div id="manage-users" class="help-section-title govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-xl">
                Manage users
            </h2>
            <p class="govuk-body">
                You can use the user management tool to view, search and remove your service's existing users and invite new users to your service.
            </p>

        </div>

        <!-- help page content -->
        <div id="search-for-users">
            <h3 class="govuk-heading-l">Search for users</h3>
            <p class="govuk-body">
                On DfE Sign-in manage console, you can search for all DfE Sign-in users, including those who are existing users of your service.
            </p>
            <p class="govuk-body">
                To search for all DfE Sign-in users:
            </p>
            <ol class="govuk-list govuk-list--number govuk-!-margin-left-2">
                <li>Sign into your DfE Sign-in account.</li>
                <li>Once signed in, select 'DfE Sign-in manage console' from your list of services.</li>
                <li>Choose which service you would like to manage.</li>
                <li>Select 'Users' from the top navigation bar or click 'Manage users' on the DfE</li>
                <li>Sign-in manage console dashboard.</li>
                <li>Enter a user's name, email address, legacy ID or organisation into the search box. Click 'Search'.</li>
            </ol>
        </div>

        <div id="search-all-users">
            <h4 class="govuk-heading-m">Search all users</h4>
            <p class="govuk-body">
                If you want to search for all DfE Sign-in users, check that the text under the search box says 'Currently viewing all users with access to DfE Sign-in'. If it says 'Currently viewing all users of [service name]', click the 'Show all users' link.
            </p>
        </div>

        <div id="search-users-of-your-services">
            <h4 class="govuk-heading-m">Search for users of your service</h4>
            <p class="govuk-body">
                If you want to search for users of your service, check that the text under the search box says 'Currently viewing all users of [service name]'. If it says 'Currently viewing all users with access to DfE Sign-in', click the 'Only show users with access to my service' link.
            </p>
        </div>

        <div id="filter-your-search" class="govuk-!-margin-bottom-6">
            <h4 class="govuk-heading-m">Filter your search</h4>
            <p class="govuk-body">
                You can also refine your search with the filtering tool by clicking 'Show filter'. You can filter users by:
            </p>
            
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
                <li>user type</li>
                <li>organisation type</li>
                <li>last login</li>
                <li>account status</li>
            </ul>

            <p class="govuk-body">
                When you make a filter selection and move to another page, the selections you made will remain the same.
            </p>
            <p class="govuk-body">
                If you select 'Clear filters', the filtering tool will remove all your selections.
            </p>
        </div>

        <div id="view-user-details"  class="govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-l">View user details</h3>
            <p class="govuk-body">
                Select an individual user from the list of search results to view their details.
            </p>
            <p class="govuk-body">
                On a user's profile you will find their:
            </p>
            
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
                <li>account status</li>
                <li>email address</li>
                <li>last login</li>
                <li>organisation details (including legacy ID, legacy username and permission level)</li>
                <li>service access and roles</li>
                <li>approvers</li>
            </ul>

            <p class="govuk-body">
                You can also view a user's sign in audit by following the link under 'Related actions'.
            </p>
        </div>

        <div id="invite-new-users"  class="govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-l">Invite new users</h3>
            <p class="govuk-body">
                On a user's profile, you can also give them access to a service.
            </p>
            <p class="govuk-body">
                To invite new users to your service:
            </p>
            
            <ol class="govuk-list govuk-list--number govuk-!-margin-left-2">
                <li>Sign into your DfE Sign-in account.</li>
                <li>Once signed in, select 'DfE Sign-in manage console' from your list of services.</li>
                <li>Choose which service you would like to manage.</li>
                <li>Select 'Users' from the top navigation bar or click 'Manage users' on the DfE Sign-in manage console dashboard.</li>
                <li>Search and select the user you want to invite.</li>
                <li>On the user's profile, click 'Give access to service'.</li>
                <li>Select the sub-services or roles that you want to add to the user's account.</li>
                <li>Review the details and click 'Add service'.</li>
            </ol>

            <p class="govuk-body">
                Approvers at the organisation will be notified that you added a service to the user's account.
            </p>
        </div>

        <div id="remove-users">
            <h3 class="govuk-heading-l">Remove users</h3>
            <p class="govuk-body">
                If a user has left your organisation, an approver within the organisation needs to contact the <a class="govuk-link" href="/contact-us">DfE Sign-in support team</a> to deactivate the user's account.
            </p>
            <p class="govuk-body">
                Whilst an approver can remove a user's access, only a member of the DfE Sign-in support team can remove a user's account.
            </p>
        </div>


        <p class="govuk-body end-of-section">
            Updated October 2024
        </p>

        

        <hr class="custom-section-break">
        <!-- related articles to show at the bottom of the page -->
        <div id="related-articles" class="help-section-title">
            <h2 class="govuk-heading-m">
                Related help topics
            </h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="/error/<%= locals.serviceId%>/page-coming-soon">About DfE Manage Console</a></li>
                <li><a class="govuk-link-bold" href="/manageConsole/<%= locals.serviceId%>/how-to-manage-users">Manage Users</a></li>
                <li><a class="govuk-link-bold" href="/error/<%= locals.serviceId%>/page-coming-soon">Manage Organisations</a></li>
                <li><a class="govuk-link-bold" href="/manageConsole/<%= locals.serviceId%>/how-to-edit-service-config">Edit Service Configuration</a></li>
            </ul>
        </div>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="/contact-us">Contact DfE Sign-in </a>
                    </h3>
                </li>
            </ul>
        </aside>
    </div>

</div>
